.faq-body {
  font-size: 125%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: rgba(255, 255, 255, 0.2);
}
.faq-title {
  background-color: rgb(95, 95, 224);
  color: aliceblue;
  text-align: center;
  margin: 20px;
  border: 4px solid rgb(153, 183, 228);
  outline: 4px dashed rgb(153, 183, 228);
  /* outline-offset: 1px; */
  font-size: 100%;
  left: 33%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
