<!--
  <div class="background col-md-6 offset-1">
    <br /><br />

    <form>
      <div>
        <input class="form-control" type="text" placeholder="Your Name" />
      </div>
      <br />
      <div>
        <input class="form-control" type="email" placeholder="Your Email" />
      </div>
      <br />
      <div>
        <textarea
          class="form-control"
          cols="80"
          rows="8"
          placeholder="What's on your mind?"
        ></textarea>
      </div>
      <br />
      <button class="btn btn-info offset-11">Submit</button>
    </form>
  </div>
-->

<div class="container col-md-7 offset-1">
  <h1>Contact Form</h1>
  <form #contactForm="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        required
        [(ngModel)]="model.name"
        name="name"
        placeholder="Your Name"
      />
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="text"
        class="form-control"
        id="email"
        required
        [(ngModel)]="model.email"
        name="email"
        placeholder="Your Email"
      />
    </div>

    <div class="form-group">
      <label for="message">Message</label>
      <textarea
        class="form-control"
        cols="80"
        rows="8"
        id="message"
        required
        [(ngModel)]="model.message"
        name="message"
        placeholder="What's on your mind?"
      ></textarea>
    </div>

    <button (click)="onSubmit()" class="btn btn-info offset-11">Submit</button>
  </form>
  <br />
  <br />
</div>
