<div class="ml-4">
  <a class="navbar-brand" href="#">
    <img
      class="ml-4"
      src="assets/img/potential.png"
      alt="paper cranes counseling"
      height="375"
      width="auto"
  /></a>
  <a class="navbar-brand" href="#">
    <img
      class="ml-2"
      src="assets/img/potential.png"
      alt="paper cranes counseling"
      height="375"
      width="auto"
  /></a>
  <a class="navbar-brand" href="#">
    <img
      class="ml-2"
      src="assets/img/potential.png"
      alt="paper cranes counseling"
      height="375"
      width="auto"
  /></a>
  <a class="navbar-brand" href="#">
    <img
      class="ml-2"
      src="assets/img/potential.png"
      alt="paper cranes counseling"
      height="375"
      width="auto"
  /></a>
</div>
<br />
<br />
<div class="col-md-2">
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/CQ7XUCQ6pbE?start=129"
    frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</div>
<!--
  <p class="col-md-5">
    After many years as an entrepreneur and business executive, I decided to
    follow my calling to become a therapist. I don't only work in theory and
    methods. I merge my understanding of how people relate to each other, as well
    as how they manage their feelings and emotions, with real-world experiences
    that I have encountered as a marketing professional and team leader. I have
    spent many years discovering how people make decisions, adopt behaviors,
    learn, and communicate, which is why I find extreme satisfaction in helping
    people learn more about themselves. I have received a M.A. in Counseling
    Psychology, with a focus on Depth Psychology, from Pacifica Graduate
    Institute. Depth psychology pays close attention to how the unconscious mind
    influences how we experience life. In addition to working with individuals,
    couples, and families to investigate unconscious motivations and what drives
    them, I have taken a great interest in the problems that men face in society.
    I believe that many of these issues are ultimately the catalysts for much of
    the pain and suffering we are seeing around the world today. . ​ Currently I
    work under the license of, and am supervised by: -Justin Yaros, LMFT, Lic.
    #92508 -Patricia Taylor, PsyD., Lic. #14882, LCSW, Lic. #5928 at the Living
    Success Center ​
  </p>
-->
<hr />
<p class="ml-2">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque
  convallis sagittis quam, a luctus mi pulvinar eu. Proin feugiat massa ut diam
  volutpat porta. Nullam at quam leo. Suspendisse ut risus eu tellus egestas
  rutrum. Sed turpis nisl, tempor eu odio in, convallis sodales libero. Integer
  sit amet odio in odio molestie ullamcorper vitae at risus. Quisque varius leo
  leo, ut viverra risus condimentum at. Pellentesque habitant morbi tristique
  senectus et netus et malesuada fames ac turpis egestas. Phasellus posuere
  laoreet neque, et gravida metus pretium in. Mauris libero odio, facilisis eu
  dictum at, aliquet et erat. Cras eu cursus ligula. Curabitur vitae tempor
  lectus. In dignissim, justo et ultrices viverra, massa velit gravida urna, in
  ornare nisi sapien non turpis. Integer vitae metus bibendum, bibendum augue
  volutpat, congue libero. Vestibulum in mauris vitae arcu cursus eleifend in eu
  lacus. Sed consequat nisi nisi, et pellentesque nulla viverra id. Ut cursus
  erat eu augue bibendum pellentesque. Pellentesque habitant morbi tristique
  senectus et netus et malesuada fames ac turpis egestas.
</p>
<hr />
