.phoneNumber {
  font-size: 115%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.address {
  font-size: 100%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
