.info {
  font-size: 125%;
  height: 250px;
  width: 650px;
  overflow-y: scroll;
}

#row1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#column1 {
  display: flex;
  flex-direction: column;
  font-size: 110%;
}
