<div class="col-md-10 offset-1">
  <br />
  <p class="ipt-title col-md-4">WHAT IS IPT USED FOR?</p>
  <div class="ipt-body">
    IPT is a time-limited psychotherapy that focuses on interpersonal issues,
    which are understood to be a factor in the basis and maintenance of
    psychological distress. The targets of this type of therapy are symptom
    resolution, improved interpersonal functioning, and increased social
    support. Typical courses of IPT range from 6-20 sessions with provision for
    maintenance treatment as necessary.
  </div>
  <div class="grid-container">
    <div class="item1"></div>
    <div class="item2">
      <div>
        <div class="ipt-body">
          <ul class="mt-2">
            <li>bipolar disorder</li>
            <li>borderline personality disorder</li>
            <li>depression as a result of disease, such as HIV</li>
            <li>depression as a result of caregiving</li>
            <li>dysthymia</li>
            <li>eating disorders</li>
            <li>marital disputes</li>
            <li>panic disorder</li>
            <li>protracted bereavement</li>
            <li>substance abuse</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="item3 offset-2">
      <a class="navbar-brand">
        <br />
        <img
          src="https://static1.squarespace.com/static/581a8643f5e231eb1616cb12/t/5ab5a2ce1ae6cf2ed3b05459/1521853135368/smiling-people.jpg"
          alt="paper cranes counseling"
          height="auto"
          width="475"
      /></a>
    </div>
    <div class="item4"></div>
    <div class="item5"><div class="item7"></div></div>
  </div>
  <p class="ipt-title col-md-4">WHAT HAPPENS DURING IPT?</p>
  <div class="ipt-body">
    Treatment usually begins with your therapist conducting an interview. Based
    on the problems you describe, they can identify goals and create a treatment
    outline. You and your therapist will focus on the key issues you’re looking
    to resolve. A typical program involves up to 20 weekly hour-long therapy
    sessions. <br /><br />

    IPT is not about finding an unconscious origin of your current feelings and
    behavior. In this way, it is unlike other forms of psychotherapy. IPT
    instead focuses on the current reality of your struggles. It looks at how
    more immediate difficulties are contributing to symptoms. Depression
    symptoms can complicate personal relationships. This often causes people
    with depression to turn inward or act out. <br /><br />
    Feelings of depression often follow a major change in your life. These
    changes fall into one of four categories: <br />
    <ul>
      <li>
        complicated bereavement — the death of a loved one or unresolved grief
      </li>
      <li>
        role transition — the beginning or ending of a relationship or marriage
        or diagnosis of a disease
      </li>
      <li>role dispute — a struggle in a relationship</li>
      <li>interpersonal deficit — the absence of a major life event</li>
    </ul>
    <p>
      Your therapist will attempt to identify events in your life that lead to
      your depression. They will try to equip you with the skills you need to
      direct difficult emotions in positive ways. <br />

      You may be encouraged to take part in social activities that you found
      stressful or painful in the past. This can be a way of practicing new
      coping techniques.
    </p>
  </div>
  <p class="ipt-title col-md-4 mt-3">Is IPT Right For Me?</p>
  <div class="ipt-body">
    <p>
      IPT is just one form of psychotherapy. Other types include cognitive
      behavioral therapy (CBT), integrative or holistic therapy, and
      psychoanalysis. The effectiveness of IPT depends upon you and the severity
      of your condition. <br />

      Talk with your doctor or your therapist about the different forms of
      psychotherapy that are available. Working with your doctor and therapist
      will help you build a plan that suits your specific needs.
    </p>
  </div>

  <p class="ipt-title col-md-4 mt-3">An Expert's Take</p>
  <div class="ipt-body">
    <p>
      “In its pure state, interpersonal psychotherapy is a very well-studied
      type of therapy,” says Daniel L. Buccino. Buccino is a licensed certified
      social worker and an assistant professor of psychiatry and behavioral
      sciences at the Johns Hopkins University School of Medicine. “It generally
      focuses on the current relational context in which problems such as
      depression emerge. And it’s generally a bit more time limited and goal
      oriented in trying to bring about different relational patterns and
      solutions.”
    </p>
  </div>
  <br />
</div>
