.ipt-title {
  background-color: rgb(95, 95, 224);
  color: aliceblue;
  text-align: center;
  margin: 20px;
  border: 4px solid rgb(153, 183, 228);
  outline: 4px dashed rgb(153, 183, 228);
  /* outline-offset: 1px; */
  font-size: 20px;
  left: 30%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.ipt-body {
  font-size: 130%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  /* font-family: "Bree Serif", serife; */
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 1px;
  /* background-color: #2196f3; */
  padding: 1px;
}

.grid-container > div {
  /* background-color: rgba(255, 255, 255, 0.8); */
  /* text-align: center; */
  /* padding: 20px 0; */
  /* font-size: 30px; */
}

.item1 {
  grid-row: 1 / span 2;
}
