<br />
<div class="specialties-body">
  <div class="ml-4 mr-4">
    <p class="offset-5"><b>Methods</b></p>
    <p>
      We use interventions from various Evidenced-Based Practices, such as
      Cognitive Behavioral Therapy, Crisis Oriented Recovery Services,
      Interpersonal Psychotherapy, and Seeking Safety. <br />
      <br />

      We also utilize our knowledge base of other effective types of therapy
      such as Affirmative Therapy, Dialectic Behavioral Therapy, Family Systems
      Therapy, Gestalt Therapy, Humanistic Therapy, Jungian Therapy,
      Motivational Interviewing, Person-Centered Therapy, Play Therapy, Positive
      Psychology, Psychodynamic Therapy, Solution-Focused Brief Therapy,
      Strengths-Based Therapy, and Trauma-Focused Cognitive Behavioral Therapy.
    </p>
  </div>
  <br />
  <div class="row ml-4 mr-4">
    <div class="col">
      <p><b>Cognitive Behavioral Therapy (CBT)</b></p>
      <p>
        Cognitive Behavioral Therapy focuses on recognizing the correlation
        between your thoughts, feelings, and actions in an effort to change
        disadvantageous patterns. It is a recommended treatment for depression,
        anxiety, PTSD, and addictions/maladaptive coping.
      </p>
      <hr />
      <p><b>Interpersonal Psychotherapy (IPT)</b></p>
      <p>
        Interpersonal Psychotherapy aims to target struggles with role
        transitions, interpersonal deficits/disputes, and unresolved grief for a
        reduction in symptom distress. It is a recommended treatment for mood
        disorders (i.e. depression, bipolar disorder, etc.), anxiety, and eating
        disorders.
      </p>
    </div>
    <hr />

    <div class="row col-md-7">
      <div>
        <p><b>Seeking Safety</b></p>
        <p>
          Seeking Safety is a present-focused therapy that centers on providing
          psychoeducation, enhancing coping skills, and developing grounding
          techniques. It is a recommended treatment for trauma and
          addictions/maladaptive coping.
        </p>

        <br />
        <hr />

        <p><b>Crisis Oriented Recovery Services (CORS)</b></p>
        <p>
          Crisis Oriented Recovery Services (CORS) is a short-term therapy that
          seeks to aid in the form of crisis intervention. CORS emphasizes the
          utilization of adaptive coping skills to be able to return to the
          level of functioning one had prior to the crisis.
        </p>
      </div>
    </div>
    <!--
      <div class="col-md-5 mr-3">
        <br />
        <br />
        <img
          src="https://www.arborday.org/images/hero/medium/hero-green-leaves-in-sunlight.jpg"
          alt="placeholder beach"
          height="200"
          width="435"
        />
        <hr />
        <img
          src="https://www.atlantisbahamas.com/media/Things%20To%20Do/Water%20Park/Beaches/Hero/Experiences_Beach.jpg"
          alt="placeholder beach"
          height="200"
          width="435"
        />
      </div>
    -->

    <!--
      <div class=" col-md-6 ">
        <br />
        <div class="card bg-info">
          <div class="card-body text-center">
            <p class="card-text">You is kind you is smart you is important</p>
          </div>
        </div>
      </div>
    -->
  </div>
</div>
