<div>
  <div class="col-md-8 col-md-offset-5">
    <img src="assets/img/paperCranes.png" alt="logo" height="150" width="175" />
    <span class="col-md-offset-6 phoneNumber">(213) 214-2925</span>
    <!--
      <span class="address"
        >300 South Beverly Dr. Suite 301 Beverly Hills, CA 90212</span
      >
    -->
  </div>

  <div class="background"><app-header></app-header></div>
  <style>
    .footer {
      position: relative;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: rgb(155, 182, 241);
      color: white;
      text-align: center;
    }
  </style>

  <div class="footer"><p>Copyright 2018</p></div>
</div>
