<div>
  <div class="col-md-1 col-md-offset-4 col-sm-1 sol-sm-offset-4">
    <img
      src="assets/img/paperCranes.png"
      alt="paper cranes counseling"
      height="150"
      width="175"
    />
  </div>
  <div class="col-md-5 col-md-offset-2">
    <app-business-information></app-business-information>
  </div>

  <div class="background"><app-header></app-header></div>
  <style>
    .footer {
      position: relative;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: rgb(155, 182, 241);
      color: white;
      text-align: center;
    }
  </style>

  <div class="footer"><p>Paper Cranes Copyright 2018</p></div>
</div>
