.home-missionStatementBody {
  font-size: 150%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.home-MissionStateMentHead {
  font-size: 200%;
  color: rgb(39, 51, 158);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#row1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#column1 {
  display: flex;
  flex-direction: column;
  font-size: 110%;
}
.background {
  background-image: url("https://www.color-hex.com/palettes/22926.png");
  height: 550px;
}
